.menu-icon > .line {
  background-color: #292929;
  /* height: 1px; */
  display: block;
  width: 30px;
  height: 2px;
  border-radius: 8px;
  background-color: white;
}
.menu-icon > .line + .line {
  margin-top: 8px;
}
