.home-container {
  margin: 4rem 50px;
  display: flex;
  justify-content: center;
}

.movies-items {
  margin: 0;
  padding: 0 3rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2.5rem;
  animation: main-content 1s normal both ease-out;
}

.movie-not-found {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 50%;
}

@keyframes main-content {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.home-pagination__container {
  margin: 2rem 0;
}

.Loading-div-homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  height: 80vh;
}

.error-message {
  width: 99vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message h1 {
  margin: 0;
  font-size: 30px;
}

@media (max-width: 769px) {
  .movie-not-found {
    font-size: 26px;
  }
}

@media (min-width: 770px) and (max-width: 1024px) {
  .movie-not-found {
    font-size: 36px;
  }
}

@media (min-width: 1025px) {
  .movie-not-found {
    font-size: 40px;
  }
}